.tabs {
    list-style-type: none;
}
li.tabsLiElement {
    margin-right: 35px;
}
.tabs a {
    padding: 0.3em;
    text-decoration: none;
}
.tabs li a:hover {
    background-color: #2979BC;
}
.tabs .selected {
    text-decoration: underline;
}
.tabContent {
    padding-top: 50px;
}
.tabContentHide {
    display: none;
}
.tabLoading {
    background: url('../img/preloader.gif') no-repeat center center;
}
.inactiveLink {
    color: gray;
    pointer-events: none;
    cursor: default;
    background-color: transparent;
}